/* pages/explain/explain.wxss */
page{
  .explain{
    .areaclass{
      margin: 20rpx;
    }
    .t-class-color{
      background-color:#af2429;
      width: 600rpx;
      color: #edd8d8;
      margin-top:100rpx
    }
  }
}

