.context{
  .title{
      display: flex;
      justify-content: center;
      font-size: 1.125rem;
      font-weight:400;
      margin:0.625rem 0;
  }
  .detail{
    
     padding-left: 2rem;
     padding-right: 3rem;
     font-size: .875rem;
     text-indent: 2em
 

  }
}